@model Character4E

@{
    ViewData["Title"] = "Home Page";


    // Get ability scores
    int str = Model.Strength ?? 10;
    int con = Model.Constitution ?? 10;
    int dex = Model.Dexterity ?? 10;
    int intel = Model.Intelligence ?? 10;
    int wis = Model.Wisdom ?? 10;
    int cha = Model.Charisma ?? 10;

    // Get ability modifiers
    int strMod = (str - 10) / 2;
    int conMod = (con - 10) / 2;
    int dexMod = (dex - 10) / 2;
    int intMod = (intel - 10) / 2;
    int wisMod = (wis - 10) / 2;
    int chaMod = (cha - 10) / 2;

    // Misc
    int halfLevel = (Model.Level ?? 0) / 2;

    int strModPlusHalfLevel = strMod + halfLevel;
    int conModPlusHalfLevel = conMod + halfLevel;
    int dexModPlusHalfLevel = dexMod + halfLevel;
    int intModPlusHalfLevel = intMod + halfLevel;
    int wisModPlusHalfLevel = wisMod + halfLevel;
    int chaModPlusHalfLevel = chaMod + halfLevel;

    // Calculated values
    int initiative = dexMod + halfLevel + Model.MiscInitiativeModifier ?? 0;
    int bloodiedHp = Model.MaxHitPoints ?? 0 / 2;
    int surgeValue = Model.MaxHitPoints ?? 0 / 4;

}

<style>
    #page-container {
        max-width: 1000px;
        margin: 0 auto; 
    }
</style>

<div id="page-container" class="container">
    <form asp-controller="Home" asp-action="CreateJson">

        <div class="row mb-2">
            <div class="col-8">
                <h1>4th Edition Character Sheet</h1>
            </div>
            <div class="col-4" >
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Player Name" asp-for="PlayerName"/>
                    <label for="PlayerName">Player Name</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="CharacterName" />
                <label for="characterName" class="tiny-label">Character Name</label>
            </div>

            <div class="col-1 p-1">
                <input type="number" class="form-control mb-n1 p-1 border-dark calculable-input" asp-for="Level" />
                <label for="Level" class="tiny-label">Level</label>
            </div>

            <div class="col-2 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="Class" />
                <label for="Class" class="tiny-label">Class</label>
            </div>

            <div class="col-2 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="ParagonPath" />
                <label for="ParagonPath" class="tiny-label">Paragon Path</label>
            </div>

            <div class="col-2 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="EpicDestiny" />
                <label asp-for="EpicDestiny" class="tiny-label">Epic Destiny</label>
            </div>

            <div class="col-2 p-1">
                <input type="number" class="form-control mb-n1 p-1 border-dark" asp-for="TotalXP" />
                <label asp-for="TotalXP" class="tiny-label">Total XP</label>
            </div>
        </div>

        <div class="row">
            <div class="col-3 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="Race" />
                <label asp-for="Race" class="tiny-label">Race</label>
            </div>

            <div class="col-1 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="Size" />
                <label asp-for="Size" class="tiny-label">Size</label>
            </div>

            <div class="col-1 p-1">
                <input type="number" class="form-control mb-n1 p-1" asp-for="Age" />
                <label asp-for="Age" class="tiny-label">Age</label>
            </div>

            <div class="col-1 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="Gender" />
                <label asp-for="Gender" class="tiny-label">Gender</label>
            </div>

            <div class="col-1 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="Height" />
                <label asp-for="Height" class="tiny-label">Height</label>
            </div>

            <div class="col-1 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="Weight" />
                <label asp-for="Weight" class="tiny-label">Weight</label>
            </div>

            <div class="col-2 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="Alignment" />
                <label asp-for="Alignment" class="tiny-label">Alignment</label>
            </div>

            <div class="col-2 p-1">
                <input type="text" class="form-control mb-n1 p-1" asp-for="Deity" />
                <label asp-for="Deity" class="tiny-label">Deity</label>
            </div>
        </div>

        <div class="row">

            @* First Column *@
            <div class="col-4 px-1">

                @* Initiative *@
                <div class="bg-dark mb-n3">
                    <h6 class="text-center text-white">INITIATIVE</h6>
                </div>

                <table class="table table-borderless table-sm mb-n1">
                    <tbody>
                        <tr>
                            <th class="text-center pb-0" style="width: 18%">
                                <small class="very-tiny-label">SCORE</small>
                            </th>
                            <th class="pb-0">

                            </th>
                            <th class="text-center pb-0" style="width: 13%">
                                <small class="very-tiny-label">DEX</small>
                            </th>
                            <th class="text-start pb-0" style="width: 24%">
                                <small class="very-tiny-label" style="margin-left: -7px">1/2 LEVEL</small>
                            </th>
                            <th class="pb-0">

                            </th>
                            <th class="text-center pb-0" style="width: 13%">
                                <small class="very-tiny-label">MISC</small>
                            </th>
                        </tr>
                        <tr class="table-dark p-0">
                            <td>
                                <input type="number" class="form-control p-0 text-center" value="@initiative" disabled />
                            </td>
                            <td style="width: 20%">
                                <p class="mb-0 fw-bold">Initiative</p>
                            </td>
                            <td>
                                <input type="number" class="form-control p-0 text-center" value="@dexMod" disabled />
                            </td>
                            <td>
                                <input type="number" class="form-control w-50 p-0 text-center" value="@halfLevel" disabled />
                            </td>
                            <td>

                            </td>
                            <td>
                                <input type="number" class="form-control p-0 text-center calculable-input" asp-for="MiscInitiativeModifier" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <label asp-for="ConditionalInitiativeModifiers" class="very-tiny-label ms-2 bg-white">Conditional Modifiers</label>
                <input type="text" class="form-control p-0 mb-1 mt-n2" style="margin-top: -5px" asp-for="ConditionalInitiativeModifiers" />

                @* Ability Scores *@
                <div class="bg-dark mb-n3">
                    <h6 class="text-center text-white">ABILITY SCORES</h6>
                </div>

                <table class="table table-borderless table-sm mb-2">
                    <tbody>
                        <tr>
                            <th class="text-center pt-2 pb-0" style="width: 20%">
                                <div class="very-tiny-label">SCORE</div>
                            </th>
                            <th class="text-center pt-2 pb-0" style="width: 20%">
                                <div class="very-tiny-label">ABILITY</div>
                            </th>
                            <th class="text-center pt-2 pb-0" style="width: 2%">

                            </th>
                            <th class="text-center pt-2 pb-0" style="width: 28%">
                                <div class="very-tiny-label">ABILITY MOD</div>
                            </th>
                            <th class="text-center pt-2 pb-0" style="width: 2%">

                            </th>
                            <th class="text-center pt-2 pb-0" style="width: 28%">
                                <div class="very-tiny-label">MOD + 1/2 LVL</div>
                            </th>
                        </tr>
                        @* Strength *@
                        <tr>
                            <td class="table-dark">
                                <input type="number" class="form-control p-0 text-center calculable-input" asp-for="Strength" />
                            </td>
                            <td class="py-0 table-dark">
                                <div class="align-middle mb-n1" style="margin-top: -2px">
                                    <p class="fw-bold mb-0">&nbsp;STR</p>
                                </div>
                                <div>
                                    <p class="very-tiny-label mb-0">Strength</p>
                                </div>
                            </td>
                            <td class="table-secondary">

                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline str-mod" value="@strMod" disabled />
                            </td>
                            <td class="table-secondary">

                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline str-mod-plus-half-level" value="@strModPlusHalfLevel" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                        </tr>
                        @* Constitution *@
                        <tr>
                            <td class="table-dark">
                                <input type="number" class="form-control p-0 text-center calculable-input" asp-for="Constitution" />
                            </td>
                            <td class="py-0 table-dark">
                                <div class="align-middle mb-n1" style="margin-top: -2px">
                                    <p class="fw-bold mb-0">&nbsp;CON</p>
                                </div>
                                <div>
                                    <p class="very-tiny-label mb-0">Constitution</p>
                                </div>
                            </td>
                            <td class="table-secondary">
                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline con-mod" value="@conMod" disabled />
                            </td>
                            <td class="table-secondary">
                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline con-mod-plus-half-level" value="@conModPlusHalfLevel" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @* Dexterity *@
                        <tr>
                            <td class="table-dark">
                                <input type="number" class="form-control p-0 text-center calculable-input" asp-for="Dexterity" />
                            </td>
                            <td class="py-0 table-dark">
                                <div class="align-middle mb-n1" style="margin-top: -2px">
                                    <p class="fw-bold mb-0">&nbsp;DEX</p>
                                </div>
                                <div>
                                    <p class="very-tiny-label mb-0">Dexterity</p>
                                </div>
                            </td>
                            <td class="table-secondary">
                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline dex-mod" value="@dexMod" disabled />
                            </td>
                            <td class="table-secondary">
                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline dex-mod-plus-half-level" value="@conModPlusHalfLevel" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                        </tr>
                        @* Intelligence *@
                        <tr>
                            <td class="table-dark">
                                <input type="number" class="form-control p-0 text-center calculable-input" asp-for="Intelligence" />
                            </td>
                            <td class="py-0 table-dark">
                                <div class="align-middle mb-n1" style="margin-top: -2px">
                                    <p class="fw-bold mb-0">&nbsp;INT</p>
                                </div>
                                <div>
                                    <p class="very-tiny-label mb-0">Intelligence</p>
                                </div>
                            </td>
                            <td class="table-secondary">
                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline int-mod" value="@intMod" disabled />
                            </td>
                            <td class="table-secondary">
                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline int-mod-plus-half-level" value="@intModPlusHalfLevel" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @* Wisdom *@
                        <tr>
                            <td class="table-dark">
                                <input type="number" class="form-control p-0 text-center calculable-input" asp-for="Wisdom" />
                            </td>
                            <td class="py-0 table-dark">
                                <div class="align-middle mb-n1" style="margin-top: -2px">
                                    <p class="fw-bold mb-0">&nbsp;WIS</p>
                                </div>
                                <div>
                                    <p class="very-tiny-label mb-0">Wisdom</p>
                                </div>
                            </td>
                            <td class="table-secondary">
                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline wis-mod" value="@wisMod" disabled />
                            </td>
                            <td class="table-secondary">
                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline wis-mod-plus-half-level" value="@wisModPlusHalfLevel" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                            <td class="pt-0"></td>
                        </tr>
                        @* Charisma *@
                        <tr>
                            <td class="table-dark">
                                <input type="number" class="form-control p-0 text-center calculable-input" asp-for="Charisma" />
                            </td>
                            <td class="py-0 table-dark">
                                <div class="align-middle mb-n1" style="margin-top: -2px">
                                    <p class="fw-bold mb-0">&nbsp;CHA</p>
                                </div>
                                <div>
                                    <p class="very-tiny-label mb-0">Charisma</p>
                                </div>
                            </td>
                            <td class="table-secondary">
                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline cha-mod" value="@chaMod" disabled />
                            </td>
                            <td class="table-secondary">
                            </td>
                            <td class="text-center table-secondary">
                                <input type="number" class="form-control p-0 text-center w-50 d-inline cha-mod-plus-half-level" value="@chaModPlusHalfLevel" disabled />
                            </td>
                        </tr>
                    </tbody>
                </table>

                @* HIT POINTS *@
                <div class="bg-dark mb-n3 mt-0">
                    <h6 class="text-center text-white">HIT POINTS</h6>
                </div>

                <table class="table table-borderless table-sm mb-2">
                    <tbody>
                        <tr style="height: 0px">
                            <th class="text-center p-0" style="width: 21%">

                            </th>
                            <th class="text-center p-0" style="width: 23%">

                            </th>
                            <th class="text-center p-0" style="width: 23%">

                            </th>
                            <th class="text-center p-0" style="width: 23%">

                            </th>
                        </tr>
                        <tr>
                            <th class="text-center pb-0">
                                <small class="tiny-label">MAX HP</small>
                            </th>
                            <th class="text-center pb-0">

                            </th>
                            <th class="text-center pb-0" colspan="2">
                                <small class="tiny-label">HEALING SURGES</small>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" class="form-control text-center fs-4 px-0" asp-for="MaxHitPoints" />
                            </td>
                            <td class="text-center py-0">
                                <div class="very-tiny-label">BLOODIED</div>
                                <input value="@bloodiedHp" class="form-control p-0 text-center d-inline mb-n3" disabled />
                                <div class="very-tiny-label">1/2 HP</div>
                            </td>
                            <td class="text-center py-0">
                                <div class="very-tiny-label">SURGE VALUE</div>
                                <input asp-for="HealingSurgeValue" class="form-control p-0 text-center d-inline mb-n3" />
                                <div class="very-tiny-label">1/4 HP</div>
                            </td>
                            <td class="text-center py-0">
                                <div class="very-tiny-label">SURGES/DAY</div>
                                <input asp-for="SurgesPerDay" class="form-control p-0 text-center d-inline mb-n3" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="py-0 ps-0">
                                <div class="very-tiny-label ms-2"><span class="bg-white">CURRENT HIT POINTS</span></div>
                                <input type="text" class="form-control fs-3 mt-n2 mb-0 text-center" asp-for="CurrentHitPoints" />
                            </td>
                            <td colspan="2" class="py-0 pe-0">
                                <div class="text-end">
                                    <div class="very-tiny-label text-end me-2"><span class="bg-white">CURRENT SURGE USES</span></div>
                                </div>
                                <input type="text" class="form-control fs-3 mt-n2 mb-0 text-center" asp-for="CurrentHealingSurges" />
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td colspan="3" class="p-0">
                                <div class="very-tiny-label text-end pb-0 pe-2" style="padding-top: 1px">
                                    SECOND WIND 1/ENCOUNTER USED
                                </div>
                            </td>
                            <td class="p-0">
                                <div class="d-flex h-auto">
                                    <input style="height: 16px" class="" type="checkbox" asp-for="EncounterSecondWindUsed" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            @* Second Column *@
            <div class="col-4 px-1">
                <div class="bg-dark">
                    <h6 class="text-center text-white">DEFENSES</h6>
                </div>

            </div>

            @* Third Column *@
            <div class="col-4 px-1">
                <div class="bg-dark">
                    <h6 class="text-center text-white">MOVEMENT</h6>
                </div>

                @* Languages *@

                <input type="hidden" asp-for="Languages"/>

                <ul id="languages" class="list-group">

                </ul>

            </div>
        </div>



        <button type="submit" class="btn btn-primary mt-4">Export Character</button>

    </form>

    <form enctype="multipart/form-data" asp-controller="Home" asp-action="ReadCharacter" class="mt-3">

        <h3>Import a character</h3>

        <div class="input-group mb-3">
            <input type="file" id="jsonFile" name="jsonFile" accept=".json" class="form-control" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Import Character</button>
            </div>
        </div>

        

    </form>
</div>


@section Scripts {
    <script>

        $(document).ready(function () {

            // Update all data
            $(".calculable-input").on("change", updateValues);

            updateValues();

            function updateValues() {
				var str = $("#Strength").val();
                var con = $("#Constitution").val();
                var dex = $("#Dexterity").val();
                var int = $("#Intelligence").val();
                var wis = $("#Wisdom").val();
                var cha = $("#Charisma").val();

                var strMod = Math.floor((str - 10) / 2);
                var conMod = Math.floor((con - 10) / 2);
                var dexMod = Math.floor((dex - 10) / 2);
                var intMod = Math.floor((int - 10) / 2);
                var wisMod = Math.floor((wis - 10) / 2);
                var chaMod = Math.floor((cha - 10) / 2);

                var halfLevel = Math.floor($("#Level").val() / 2);

				$(".str-mod").val(strMod);
				$(".con-mod").val(conMod);
				$(".dex-mod").val(dexMod);
				$(".int-mod").val(intMod);
                $(".wis-mod").val(wisMod);
                $(".cha-mod").val(chaMod);

				$(".str-mod-plus-half-level").val(strMod + halfLevel);
				$(".con-mod-plus-half-level").val(conMod + halfLevel);
				$(".dex-mod-plus-half-level").val(dexMod + halfLevel);
				$(".int-mod-plus-half-level").val(intMod + halfLevel);
                $(".wis-mod-plus-half-level").val(wisMod + halfLevel);
				$(".cha-mod-plus-half-level").val(chaMod + halfLevel);

            }

            // Languages
            updateLanguages();

            function updateLanguages() {
				var languages = $("#Languages").val().split("|");
				var languagesList = $("#languages");

				languagesList.empty();

				for (var i = 0; i < languages.length; i++) {
					var language = languages[i];
                    if(language.length == 0) continue;
                    var li = $("<li>").text(language);
                    li.addClass("list-group-item");
					languagesList.append(li);
				}
                var group = $("<div>");
                group.addClass("input-group");
                var input = $("<input>");
                input.addClass("form-control border-0");
                input.attr("type", "text");
                input.attr("placeholder", "Add a language");
                group.append(input);

                input.on("keypress", function (event) {
                    if (!input.is(":focus")) return;

                    if (event.key == "Enter") {
                        event.preventDefault();
						var language = input.val();
						languages.push(language);
						$("#Languages").val(languages.join("|"));
						updateLanguages();
					}
                });

                var button = $("<button>");
                button.addClass("btn btn-outline-primary");
                button.text("Add");
                button.attr("type", "button");
                button.on("click", function () {
					var language = input.val();
					languages.push(language);
					$("#Languages").val(languages.join("|"));
					updateLanguages();
				});
                group.append(button);
                var li = $("<li>");
                li.addClass("list-group-item p-0");
				li.append(group);
                languagesList.append(li);
			}

        });

    </script>
}
